@model SchoolManagementSystem.Base.ExternalUserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h4>ExternalUserInfo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SchoolID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SchoolID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ExternalUserInfoID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
